body{
  margin:0;
  font-family:Arial;
  background:#f4f6f9;
}

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 40px;
  background:#111;
  color:white;
}

.logo{
  width:50px;
  height:50px;
  border-radius:50%;
  object-fit:cover;
  border:2px solid #ffcc00;
}

.hero{
  height:80vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background:linear-gradient(to right,#141e30,#243b55);
  color:white;
}

.form-container{
  width:300px;
  margin:100px auto;
  padding:30px;
  background:white;
  box-shadow:0 10px 30px rgba(0,0,0,0.1);
  border-radius:10px;
  text-align:center;
}

input{
  width:100%;
  padding:10px;
  margin:10px 0;
}

button{
  padding:10px 20px;
  background:#ffcc00;
  border:none;
  cursor:pointer;
}

.card{
  background:white;
  padding:20px;
  margin:20px;
  box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

.premium-footer{
  background:#111;
  color:white;
  padding:40px;
  display:flex;
  justify-content:space-around;
}
